@{
    ViewData["Title"] = "Gracias por su registro";
}

<div style="text-align:center; margin-top:50px;">
    <h1 style="color:green;">¡Gracias por su registro!</h1>
    <p>Su reserva ha sido registrada con éxito.</p>

    <a class="btn btn-primary" href="/Home/Index">Volver al inicio</a>
</div>
